<footer class="py-5 bg-dark">
  <div class="container">
   <p class="m-0"><a class="text-center text-white" href="https://github.com/JosephCW/iot-final-cadence-monitor">Github Repository</a></p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
