<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Group 4 Bicycle Cadence Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li id="home-li" class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li id="cadence-li" class="nav-item">
                <a class="nav-link" href="/cadence">Cadence</a>
            </li>
            <li id="statistics-li" class="nav-item">
                <a class="nav-link" href="/cadence/statistics">JSON Service</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
