<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <h1>Welcome!</h1>
      <br>
      <h3>What is cadence?</h3>
      <p>In cycling, cadence is the number of revolutions of the crank per minute; this is the rate at which a cyclist is pedalling/turning the pedals. Cadence is directly proportional to wheel speed, but is a distinct measurement and changes with gearing—which determines the ratio of crank rpm to wheel rpm.</p>
      <br>
      <h3>How to use this App</h3>
      <p>With all appropriate particle hooks setup, once you press the start button your device will be sent back a ride id. This is then used to publish to every couple of seconds. The server then takes these publishes and sends the current cadence back to the device along with logging it on the server. Statistics about each ride can be viewed from the <a href="/cadence">cadence page</a>.</p>
    </div>
  </div>
</div>